# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/
*.bat text eol=crlf

*.pbxproj merge=ours -crlf # Xcode
android/app/build.gradle merge=ours -crlf # Android
bitbucket-pipelines.yml merge=ours -crlf # Bitbucket Pipelines
update_version.sh merge=ours -crlf # Update version script

```